-module({{packageName}}_logic_handler).

-include_lib("kernel/include/logger.hrl").

-type code() :: code2xx() | code3xx() | code4xx().
-type code2xx() :: ok | created | accepted.
-type code3xx() :: moved_permanently | found | see_other.
-type code4xx() :: bad_request | unauthorized | forbidden | not_found | method_not_allowed.
-export_type([code/0]).

-type opts() :: #{
    req := cowboy_req:req()
}.
-export_type([opts/0]).

-type response() :: map() | list() | iodata().
-type operation_id() :: {{packageName}}_api:operation_id().
-type rule() :: {{packageName}}_api:rule().
-type request_param() :: {{packageName}}_api:request_param().

-type handle_callback_return() :: stop | response().
-type handle_callback() ::
    fun((operation_id(), context(), opts()) ->
            {code(), handle_callback_return(), opts()}).
-type forbidden_callback() ::
    fun((operation_id(), context(), opts()) ->
            {boolean(), opts()} | {boolean(), cowboy_req:req(), opts()}).
-type validate_response() ::
    fun((operation_id(), code(), response(), jesse_state:state()) ->
            ok | no_return()).
-type response_encoder() ::
    fun((operation_id(), response()) ->
            iodata()).
-type custom_type_validator() :: fun((rule(), Name::request_param(), Value::term()) ->
    ok | {ok, term()} | default | {wrong_param, rule(), Name::request_param(), Value::term()}) | {error, iodata()}.
-type context() :: map().

-export_type([context/0, response_encoder/0, custom_type_validator/0,
              handle_callback_return/0, validate_response/0,
              handle_callback/0, forbidden_callback/0]).

-optional_callbacks([forbidden_callback/3, validate_response/4, custom_type_validator/3, response_encoder/2]).

-callback handle_callback(operation_id(), context(), opts()) ->
    {code(), handle_callback_return(), context(), opts()}.

-callback forbidden_callback(operation_id(), context(), opts()) ->
    {boolean(), context(), opts()} | {boolean(), cowboy_req:req(), opts()}.

-callback validate_response(operation_id(), code(), response(), jesse_state:state()) ->
    ok | no_return().

-callback response_encoder(operation_id(), response()) ->
    iodata().

-callback custom_type_validator(rule(), Name, Value) ->
    ok | {ok, Value} | default | {wrong_param, rule(), Name, Value} | {error, iodata()}
    when Value :: term(), Name :: request_param().

-export([handle_callback/3, forbidden_callback/3]).
-ignore_xref([handle_callback/3, forbidden_callback/3]).

-spec forbidden_callback(operation_id(), context(), opts()) ->
    {boolean(), opts()} | {boolean(), cowboy_req:req(), opts()}.
forbidden_callback(_OperationID, _Context, Opts) ->
    {false, Opts}.

-spec handle_callback(operation_id(), context(), opts()) ->
    {code(), handle_callback_return(), opts()}.
handle_callback(OperationID, Context, Opts) ->
    ?LOG_ERROR(#{what => "Got not implemented request to process",
                 operation_id => OperationID,
                 opts => Opts,
                 context => Context}),
    {bad_request, stop, Opts}.
